<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
	RedirectMatch 404 /\\.svn(/.*|$)
</IfModule>

<Files ~ "\.xml$">
	Order allow,deny
	Deny from all
	Satisfy All
</Files>
