* {
	margin:0px;
	
}
	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
		text-decoration:none;
	}
	
	section#content	a:hover{
		background-color: white;
		opacity:0.6;
	}

	h1{
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
		text-align: center;
	}
	header{
		margin: 0 0 14px 0;
		padding: 0px 15px 10px 15px;
	}

	h1,header {
		color: #444;
		background-color: transparent;
		font-size: 19px;
		font-weight: normal;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	footer p.copri{
		text-align: center;
		font-size: 14px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 200px 0 0 0;
	}
	
	#container{
		margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
	}



	header#cabecalho{
		/*background-color: red;*/
		width:97%;
		height:170px;
		border-bottom-width:1./*3px;
		border-bottom-style:so*/lid;
	}
	
	header{
	    border-bottom: 1px;
    	border-bottom-style: solid;
    	border-color: #D0D0D0 ;
	
	}
	section#content{
		width:100%;
		height: auto;
	}

	section{
		width:22%;
	}
	/*
	section#column-left{
		background-color: yellow;
		float:left;
		border-right-width:1px;
		border-right-style:solid;
		border-color: #D0D0D0;
	} */
	section#column-right{
		/*background-color: pink;*/
		float:right;
		border-left-width:1px;
		border-left-style:solid;
		border-color: #D0D0D0 ;
		padding-right:7px;
		padding-bottom:7px;
	}
	
	section#column-left{
		/*background-color: green;*/
		width:77%;
		float:left;
	}
	
	article{
		color:#E13300;
		border-style:solid;
		border-width:1px;
		width:23%;
		float:left;
		margin-left:8px;
		margin-top: 8px;
		padding:5px;
		border-color: #D0D0D0;
	}
	section#column-right article{
		width:90%;
	}
	
	footer{
		width:100%;
		height:200px;
		margin-top:200px;
 		border-top-width:1px;
		border-top-style:solid;
		border-color:#D0D0D0;
		clear:both;
	}	
.clear{
	width: 0.1px;
	visibility: hidden;	
}


nav#user{
    position:relative;
	display:block;
	float:right;
	width:100%;
	height: 90px;
	margin-right:23px;
	font-size: 17px;
	text-align:right;
	padding-top:15px;
}
#dadosUser{
    width:300px;
    height:80px;
    margin-top:-5px;
    padding:5px 5px 5px 5px;
    float:right;
    border-width: 1px;
    border-style:solid;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-color:#005580;
    font-size: 14px;
    font-style:italic;
}
#dadosUser > #userInfo{
    margin-top:10px;
    float:left;
}
#dadosUser >img#foto{
    width: 80px;
    height:80px;
    float:left;
    padding-right:10px;
}

.exit{
    margin-top:55px;
    float:right;
}
.centro{
	width:50%;
	height:50%;
	display:block;
	position:absolute;
	padding-top:25%;
	padding-left:50%;
	background-color: #F9F9F9;
	opacity: 0.7;
}

.centro.hide{
	display:none;
	
}

.required{
    background-color:rgba(241, 241, 64, 0.81);
}

.number.error,
.date.error{
    background-color:rgba(254, 0, 0, 0.81);
    
}
#pagiframe{
    position:relative;
    float:left;
    top:0;
    left:0;
    margin-top:5px;
    left:100px;
    height:100%;
    z-index:999999;
    width:88%;
    margin-left:42px;
    margin-right:800px;
    background-color: #888888;
}
iframe{
    width:100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
}
#menu li{
	float:left;
	padding:10px;
	list-style-type:none;
	border-right-style:solid;
	border-width: 1px;
	border-color:white;
}

nav#menu{
	width:100%;
	height: 200px;
	padding-top:13px;
	background-color: navy;
}

nav#menu img{
	width:200px;
	height:150px;
	text-align:center;
}
li a{
	font-size: 20px !important;
}
aside.sub{
}
img#arrow{
	margin-top:20px;
}
.rotate{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
}

span#circle {
	display: block;
	border: 3px solid #3DA0DB;
	border-radius: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 5em;
	height: 5em;
	background-color: #3DA0DB;
	color: #fff;
	font-size: 12px;
	font-weight:bold;
	line-height: 1em;
	font-weight: 700;
	padding: 1.8em 0 0 0;
	text-align: center;
	margin: -1.4em 1em 0 0;
	text-transform: uppercase;
	float: left;
	margin-left:300px;
	margin-top:-4px;
}
span#circle >img{
	margin-top:-13px;
}

#esconderHeader{
	width:100%;
	text-align:right;
	float:right;
	margin-right:23px;		
}

